@using Kholy.IKEA.PL.ViewModels.Department
@model DepartmentCreateViewModel
@{
	ViewData["Title"] = "Create";
}

@if (!(TempData["Message"] != null))
{

		<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
			<div id="liveToast" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
				<div class="toast-header">
					<img src="..." class="rounded me-2" alt="...">
					<strong class="me-auto">IKEA</strong>
					@* <small>@DateTime.Now.Minute mins ago</small> *@
					<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
				<div class="toast-body">
					@TempData["Message"]
				</div>
			</div>
		</div>

}

<h1>Create New Department</h1>

<form asp-action="Create">
	<div class="form-group">
		<label class="form-label" for="Code">Code</label>
		<input type="text" class="form-control" id="Code" name="Code" />
		<span class="text-danger" asp-validation-for="Code"></span>
	</div>
	<div class="form-group mb-3">
		<label class="form-label" asp-for="Name"></label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="form-group mb-3">
		<label class="form-label" asp-for="Description"></label>
		<textarea asp-for="Description" class="form-control"></textarea>
	</div>
	<div class="form-group mb-3">
		<label class="form-label" asp-for="CreationDate"></label>
		<input type="date" asp-for="CreationDate" class="form-control" />
	</div>

	<div class="mt-3">
		<input type="submit" value="Create" class="btn btn-primary" /> |
		<a asp-action="Index" class="btn btn-light">Cancel</a>
	</div>
</form>